body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

header{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
header h1 :hover{
    background-color: black;
}
.sidebar {
    grid-column: 0/1;
    grid-row: 1/3;
}
.log {
    justify-self: start;
    && form{
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }
}
.message-board {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid red;
    height: 700px;
    overflow: scroll;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.sign-up {
    text-align: center;
}
.sign-up form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    && input {
        width: 350px;
        height: 35px;
    }
}
.new-message-button {
    display: block;
    padding: 20px;
    height: 10px;
    width: 200px;
    border: 1px solid red;
    border-radius: 12px;
    background-color: darkgoldenrod;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
}
.new-message-button:hover{
    background-color: rgb(90, 67, 7);
    color: white;
}
.new-message-form {
    display: flex;
    flex-direction: column;
}